/*Global ===============================*/

:root {
    --dark-blue: #191E29;
    --dark-green: #004F39;
    --light-green: #01C38D;
    --light-purple: #B066D1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: white;
}


/*Header ===============================*/

header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 18px;
    font-weight: 700;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 20px;
    font-weight: 700;
}

li :hover {
    transform: scale(102%);
}

ul a:last-child {
    border: 2px solid #01C38D;
    padding: 0.5rem 0.8rem;
    color: #01C38D;
    border-radius: 0.5rem;
    transition: 0.2s;
}

ul a:last-child:hover {
    opacity: 0.7;
}


/*Hero ===============================*/

h1 {
    font-family: 'Unica One', cursive;
    font-size: 96px;
}

p {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
    letter-spacing: 0.125em;
    background-color: red;
    background-image: linear-gradient(270deg, #B066D1 29.13%, #01C38D 50%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

main {
    width: 100%;
    height: min(900px, 100vh);
    background: radial-gradient(50% 50% at 50% 50%, var(--dark-green) 0%, var(--dark-blue) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -5rem;
}


/*transictios-section ===============================*/

.transiction-section {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 10rem;
    background-color: var(--dark-blue);
}

.transiction-section svg {
    opacity: 0.4;
}


/*about-section ===============================*/

.about {
    background-color: var(--dark-blue);
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.about h2 {
    margin-top: 5rem;
    font-size: 48px;
}

.about p {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin: 2rem 5rem;
}

.about svg {
    width: 105%;
    height: 105%;
}


/*about-section ===============================*/

.services {
    width: 100%;
    height: 90vh;
    background-color: var(--dark-blue);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.service-text {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.5rem;
    letter-spacing: 0.125em;
    opacity: 0;
    visibility: hidden;
    transition: 0.7s;
    text-align: center;
    margin-bottom: 2rem;
}

.visible {
    opacity: 1;
    visibility: visible;
}

.blured-box {
    width: 540px;
    height: 160px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(13px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 7px;
    display: flex;
    cursor: pointer;
    transition-duration: 1s;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1rem;
}

.service-icon {
    -webkit-filter: drop-shadow( 0px 1px 60px #B066D1);
    filter: drop-shadow( 0px 1px 106px -33px #B066D1);
    transition-duration: 0.5s;
    margin: -3.5rem auto auto auto;
}

h3 {
    position: absolute;
    top: 4rem;
    font-size: 30px;
}

.img-animation {
    margin: -4.5rem auto auto auto;
    transition-duration: 0.5s;
}

.expanded {
    height: 20rem;
}